@import "src/@fuse/scss/fuse";

#cards {

    .content {

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 24px 24px 24px 24px;
            cursor: pointer;

            .card {
                display: flex;
                align-items: flex-start;
                padding: 24px 24px 24px 24px;

                .card-preview {
                    display: flex;
                    min-width: 320px;
                }

                .card-source {
                    display: none;
                }
            }
        }
    }
}
