<div id="cards" class="page-layout simple fullwidth">
    <!-- CONTENT -->
    <div class="content">
        <div class="cards">
            <!-- <div class="card" *ngFor="let item of albums" (click)="detail(item);">
                <div class="card-preview">
                    <div class="fuse-card">
                        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="pr-16">
                                <div class="h1">{{item.name}}</div>
                                <div class="h4 secondary-text">
                                    {{item.band}}
                                </div>
                            </div>

                            <div class="w-80 h-80">
                                <img src="{{item.backdrop}}" />
                            </div>
                        </div>

                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                            <button mat-button color="accent"><strong>VER DETALHES</strong></button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>